   * {
     margin: 0;
     padding: 0;
     /* border: solid 1px; */
     box-sizing: border-box;
   }

   body {
     display: flex;
     /* background-image: url(images/backtext.png);
     background-size: 30%;
     background-repeat: repeat; */
   }

   .nav-wrapper {
     height: 200vh;
     width: 18%;
     font-size: 18px;
     font-weight: normal;
     background-color: #00FFFF;
     border-right:double 3px  #b0b0b0;
   }
   .nav {
     margin-top: 43px;
     margin-left: 18px;
   }
   .nav-content {
     display: flex;
     margin-bottom: 31px;
     align-items: center;
   }
   .nav-icon {
     height: 8px;
     width: 8px;
     margin-right: 9px;
     border-radius: 50%;
   }


   .contents-wrapper {
     height: 200vh;
     width: 82%;
     background-image: url(images/backtext.png);
     background-size: 50%;
     background-repeat: repeat;
   }

   .contents-wrapper_admin {
    height: 200vh;
    width: 82%;
    background-color: #00FFFF;
    background-size: 50%;
    background-repeat: repeat;
  }



   .heading {
     margin-top: 35px;
     margin-bottom: 20px;
     text-align: center;
     font-size: 32px;
     font-weight: bold;
   }
   .contents-wrapper-inner {
     display: flex;
     width: 880px;
     margin: 0 auto;
   }

   .content-left {
     width: 350px;
   }
   .face-photo {
     width: 100%;
     height: 486px;
     margin-bottom: 23px;
   }
   .profile {
     margin-bottom: 40px;
     margin-left: 20px;
   }
   .profile-english {
     width: 300px;
     margin-bottom: 20px;
   }
   .mail {
     margin-bottom: 20px;
   }
   .content-right {
     width: 530px;
   }
   .news-heading {
     margin-bottom: 30px;
     text-align: center;
     font-size: 18px;
     font-weight: normal;
   }
   .news-list {
     margin-right: 10px;
     margin-left: 10px;
     font-size: 18px;
     font-weight: bold;
     border-top: 1px solid #000;
     border-bottom: 1px solid #000;
   }
   .news-list-title {
     margin-top: 5px;
     margin-bottom: 4px;

   }
   .news-list-description {
     margin-bottom: 30px;
     margin-left: 80px;
   }
   .annotation {
    margin-bottom: 30px;
    margin-left: 80px;
    font-weight: bold;
  }
   .news-heading {
     margin-bottom: 30px;
     text-align: center;
     font-size: 18px;
     font-weight: normal;
   }
   .normal-text {
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: normal;
  }
  .normal-text_admin {
    /* margin-bottom: 40px;
    margin-left: 20px; */
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: normal;
    border-bottom: 1px solid #000;
  }